@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

.App {
  height: 100vh;
  background-color: #bae2ca;
  overflow: scroll;
  text-align: center;
  font-family: "Coming Soon", cursive;
}

a:visited {
  color: #6f9a88;
}

a {
  color: white;
}

.container {
  height: 100%;
  background-color: #bae2ca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: black;
  max-width: 40rem;
  margin: 0%;
}

.disclaimer {
  max-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.7rem;
  padding-bottom: 2rem;
}

/* .gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background-color: black;
  background-size: 200% 200%;
  color: white;
  margin: 2rem 0;
}

.mint-button {
  /* background: -webkit-linear-gradient(left, #a200d6, #ff6fdf); */
  background-color: black;
  background-size: 200% 200%;
  color: white;
  /* animation: gradient-animation 4s ease infinite; */
  /* margin-right: 15px; */
}

.view-collection-btn {
  padding-left: 1rem;
}

.visit-nft-btn {
  font-size: 1.5rem;
}

.show {
  font-size: 1rem;
  padding: 1.5rem 0;
}
.hide {
  display: none;
}
.mint-count {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  font-size: 1.3rem;
}
